.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
}
.label {
  display: block;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.input {
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
}
.button:hover,
.button:focus {
  background-color: aquamarine;
}
